# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python virtualenv and package files
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# MyPy / Type-checking
.mypy_cache/

# Database and local dev files
*.sqlite3
*.db
*.log

# Flask cache
instance/
*.pid

# Ignore env files (if used for secrets)
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
